/* Header Styles */
header {
  position: relative; /* Reference for absolutely positioned children */
  padding-left: 10px;
  transition: 0.2s;
  margin-bottom: 50px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

header h1 {
  margin-bottom: 0;
  padding-left: 0;
  color: var(--onBackground);
  font-size: 3rem;
}

header h1 span {
  color: var(--tertiary);
}

header .maker {
  margin-bottom: 35px;
}

header .maker .one,
header .maker .two {
  font-size: 30px;
  font-weight: 800;
  position: absolute;
}

header .maker .one {
  margin-top: -21px;
  padding-left: 20.5px;
  color: var(--background);
}

header .maker .two {
  margin-top: -20px;
  padding-left: 20px;
  color: var(--onBackground);
}

header i {
  color: var(--primary);
  font-size: 25px;
}

header .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
}

header a {
  padding: 0;
  margin: 0;
}

header p {
  margin: 0;
  padding: 1px 2px;
  font-family: 'Tilt Warp', cursive;
  font-weight: 100;
  color: var(--background);
  margin-top: 2px;
}

#hover-icon:hover {
  cursor: pointer;
}

#hover-icon:hover #hover-text {
  background-color: var(--primary);
  color: var(--onPrimary);
  border-radius: var(--radius-sml);
  transition: background-color 0.2s, color 0.2s;
}
